/*body{*/
    /*font-family: Merriweather,Georgia,serif;*/
/*}*/

.posts {
    list-style-type: none;
    padding-left: 120px;
    margin: 20px 0px 0px 0px;
}
.post-tabs .posts {
    margin: 0px;
}
.posts .post {
    padding-top: 40px;
    min-height: 66px;
    /*border-bottom: 1px solid #e0e0e0;*/
}
//.posts .post:hover {
//    background-color: #f0f0f0;
//}

.post-content {
    min-height: 66px;
}

.post-date {
    color: grey;
    font-size: 90%;
    padding-top: 5px;
    text-decoration: none;
    padding-left: 10px;
}

.post-author {
    color: #0C4842;
    font-size: 90%;
    text-decoration: none
}

.post-title h2{
    font-weight: bold;
    text-decoration: none;
    color: #0C4842;
}

.post-body{
    position: relative;
    padding-top: 20px;
    text-decoration: none;
}

.post-desc{
    color: #0C4842;
}
.post-desc:hover{
    color: white;
    background-color: #0C4842;
}

.comments {
    list-style-type: none;
    padding-left: 120px;
    margin: 16px 0px 0px 0px;
}
.comments .comment {
    padding: 10px;
    border-left: 5px solid #111;
    border-bottom: 1px dashed #666;
}

.comments .comment:hover {
    background-color: #f0f0f0;
}
.comment-date {
    color: grey;
    font-size: 90%;
    padding: 8px;
    text-decoration: none;

}
.comment-author {
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
    color: #C32420;
}

.comment-content {
    padding-top: 10px;
    margin-left: 30px;
    min-height: 48px;
}

.reply{
    color: #666;
    padding:5px;
}
.reply:hover{
    color: white;
    background-color: black;
}

.tags{
    list-style-type: none;
    padding-left: 120px;
    padding-top: 50px;
    margin: 20px 0px 0px 0px;
}

.tag{
    color: #0C4842;

}

.tag:hover{
    color: white;
    background-color: #0C4842;
}
.tag li{
    padding:15px;
}



.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #0C4842;
    border-color: #aaa;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #0C4842;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
