body{
    font-family: Merriweather,Georgia,serif;
}

container{
    height: 40px;
}



.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #0C4842;
    border-color: #aaa;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 0px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #0C4842;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.server {
    margin-top: 10px;
}

.navbar .nav > li .dropdown-menu {
 margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
 display: block;
}

