{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %} server &middot; SA 系统 {% endblock %}

{% block page_content %}
    <div class="container">
        {% for instance in instances %}
            <div class="col-sm-6 col-md-4">
                <h3>{{ instance.instance_name }} </h3>
                <span class="badge">{{ instance.server_ip }}</span>
                {% if  instance.instance_type == 1 %}
                    <span class="label label-success">MySQL</span>
                {% elif instance.instance_type == 2 %}
                    <span class="label label-info">SQL SERVER</span>
                {% endif %}
                <span class="label label-warning">{{ instance.instance_port }} </span>
                <div class="server">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"
                       data-href="{{ url_for("main.delete_instance",instance_type=instance.instance_type, instance_id=instance.id) }}">Delete</button>
                </div>
                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                请确认
                            </div>
                            <div class="modal-body">
                                确认删除 {{ instance.instance_name }} 该记录吗？
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger btn-ok">删除</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <span><em>Unbelievable. No entries here so far</em></span>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, endpoint, instance_type=instance_type) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
{% endblock %}
